# list

In [1]:
countries = ['pakistan','india','china']
population = [22.4,43.67,58.43]

In [2]:
ind = countries.index('india')
ind

1

In [7]:
population[ind]

43.67

In [8]:
world = {'pakistan':22.4,'india':43.67,'china':58.43}

In [10]:
world['china']

58.43

In [11]:
world = {
    'pakistan':{'population':22.4,'continent':'asia'},
    'india':{'population':43.67,'continent':'asia'},
    'china':{'population':58.43,'continent':'asia'}
}

print(world['pakistan'])

{'population': 22.4, 'continent': 'asia'}

In [12]:
print(world['india'])

{'population': 43.67, 'continent': 'asia'}

In [14]:
world_dict = {
    'countries': ['pakistan','india','china'],
    'population':[22.4,43.67,58.43]
}

In [15]:
world_dict['countries'][1]

'india'

In [16]:
import pandas as pd

In [20]:
df = pd.DataFrame(world_dict)
df.head()

  countries  population
0  pakistan       22.40
1     india       43.67
2     china       58.43

In [21]:
print(type(df),type(df['population']))

<class 'pandas.core.frame.DataFrame'> <class 'pandas.core.series.Series'>

In [22]:
df.countries

0    pakistan
1       india
2       china
Name: countries, dtype: object

In [23]:
df.shape

(3, 2)

In [24]:
df.columns

Index(['countries', 'population'], dtype='object')

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   countries   3 non-null      object
 1   population  3 non-null      float64
dtypes: float64(1), object(1)
memory usage: 180.0+ bytes

In [26]:
df.describe()

       population
count    3.000000
mean    41.500000
std     18.112755
min     22.400000
25%     33.035000
50%     43.670000
75%     51.050000
max     58.430000

In [27]:
df

  countries  population
0  pakistan       22.40
1     india       43.67
2     china       58.43

In [28]:
df.rename(columns={'population':'pop'})

  countries    pop
0  pakistan  22.40
1     india  43.67
2     china  58.43

In [29]:
df = df.rename(columns={'population':'pop'})

In [30]:
df

  countries    pop
0  pakistan  22.40
1     india  43.67
2     china  58.43

In [31]:
df.rename(columns={'population':'pop'},inplace=True)

In [32]:
df

  countries    pop
0  pakistan  22.40
1     india  43.67
2     china  58.43

In [33]:
df.index = ['PK','IN','CH']

In [34]:
df

   countries    pop
PK  pakistan  22.40
IN     india  43.67
CH     china  58.43

In [35]:
df.rename(columns={'countries':'count','population':'pop','cities':'city'})

       count    pop
PK  pakistan  22.40
IN     india  43.67
CH     china  58.43

In [37]:
df.rename(columns={'countries':'count','population':'pop','cities':'city'},errors='raise')

KeyError: "['population', 'cities'] not found in axis"

In [38]:
    import pandas as pd

    df = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
    df_renamed = df.rename(columns={'A': 'Column_A'})

    print("Original DataFrame:")
    print(df)
    print("\nRenamed DataFrame (a new copy):")
    print(df_renamed)

Original DataFrame:
   A  B
0  1  3
1  2  4

Renamed DataFrame (a new copy):
   Column_A  B
0         1  3
1         2  4

In [39]:
    import pandas as pd

    df = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
    df.rename(columns={'A': 'Column_A'}, inplace=True)

    print("DataFrame modified in place:")
    print(df)

DataFrame modified in place:
   Column_A  B
0         1  3
1         2  4